<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.robv.android.xposed.installer">

    <application
        android:name=".mobile.XposedApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.XposedInstaller.Light">
        <activity android:name="de.robv.android.xposed.installer.mobile.ui.main.SplashActivity" android:theme="@style/SplashTheme">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- HOME -->
        <activity android:name="de.robv.android.xposed.installer.mobile.ui.main.WelcomeActivity" android:configChanges="orientation|screenSize" android:exported="true" android:label="@string/app_name" />

        <!-- Container -->
        <activity android:name="de.robv.android.xposed.installer.mobile.ui.base.ViewActivity" android:theme="@style/Theme.XposedInstaller.Transparent"/>

        <activity android:name="de.robv.android.xposed.installer.mobile.ui.download.DownloadDetailsActivity" android:configChanges="orientation|screenSize" android:exported="true" android:theme="@style/Theme.XposedInstaller.Transparent">
            <intent-filter>
                <action android:name="de.robv.android.xposed.installer.DOWNLOAD_DETAILS" />

                <data android:scheme="package" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:host="repo.xposed.info" android:pathPrefix="/module/" android:scheme="http" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!--<activity android:name="de.robv.android.xposed.installer.mobile.ui.activities.ModulesBookmark" android:theme="@style/Theme.XposedInstaller.Transparent" />-->

        <activity android:name="de.robv.android.xposed.installer.mobile.ui.installation.InstallationActivity" android:screenOrientation="portrait" android:theme="@style/Theme.XposedInstaller.Transparent" />

        <receiver android:name=".core.receivers.PackageChangeReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".core.receivers.DownloadReceiver" android:exported="true" android:permission="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".core.util.NotificationUtil$RebootReceiver" android:exported="false" />

        <provider android:name="androidx.core.content.FileProvider" android:authorities="de.robv.android.xposed.installer.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>